@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --scrollbar-color: rgb(55, 55, 55);
  --scrollbar-bg: rgb(25, 25, 25);
  --scrollbar-hover: rgb(76, 76, 76);
  --ql-border: 1px solid #ccc;
  --text-color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

.scrollbar-custom::-webkit-scrollbar {
  height: 10px;
  width: 12px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  border-radius: 8px;
  background: var(--scrollbar-color);
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: var(--scrollbar-bg);
  border: 3px solid var(--scrollbar-color);
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-hover);
}

.input-container .ant-upload {
  width: 100%;
}

.text-parser ul {
  padding-left: 28px;
}
